@{
    ViewData["Title"] = "Wanderlust";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<travel_blog.Models.Blog>

<h2>Wanderlust</h2>
<h4>Those who Wander are not Lost</h4>

<table>
    @foreach (var entry in Model)
    {
        
        <tr>
            <td>
                <p>@Html.ActionLink(entry.Title, "Details", "Blogs", new { id = entry.BlogId })</p>
            </td>
            <td>
                <p>@Html.DisplayFor(entryItem => entry.Date)</p>
            </td>
        </tr>
     }
</table>
<h4>@Html.ActionLink("Make an Entry", "Create", "Blogs")</h4>
<h4>Check out the @Html.ActionLink("places", "Index", "Locations", null) I've been and @Html.ActionLink("people", "Index", "Peoples", null) I've met on my travels!</h4>