@model travel_blog.Models.Blog

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Title);
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-6">
        <h2>@Html.DisplayFor(model => model.Title)</h2>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-6">
    </div>
    <div class="col-sm-2">
        <h4>Locations</h4>
    </div>
    <div class="col-sm-2">
        <h4>People</h4>
    </div>
    </div>
<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-6">

        <p>@Html.DisplayFor(model => model.Body)</p>

    </div>
    <div class="col-sm-2">

        @foreach (var location in Model.LocationBlogs)
        {

            <p>@Html.ActionLink(location.Location.City, "Details", "Locations", new { id = location.LocationId })</p>
            <br />
        }
    </div>
    <div class="col-sm-2">

        @foreach (var people in Model.BlogPeoples)
        {

            <p>@Html.ActionLink(people.People.Name, "Details", "Peoples", new { id = people.PeopleId })</p>
            <br />
        }

    </div>
</div>

    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-6">
            <hr />
            <p>@Html.ActionLink("Back", "Index", "Home", null)</p>
           

        </div>
    </div>

