@model travel_blog.Models.Blog

{
    ViewData["Title"] = @Html.DisplayFor(model => model.Title);
Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>
<hr />

<p>@Html.DisplayFor(model => model.Body)</p>

@foreach (var locationStuff in ViewBag.LocationStuff)
{
    <p>@locationStuff</p>
}

<p>@Html.ActionLink("Back", "Index", "Home", null)</p>